* {
    outline: 1px solid --tomato;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;

    background: transparent;
    margin: 0 auto;
}

.header.on {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;

    background: #fff;
    margin: 0 auto;
}

.header::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: url(../img/header-line.png) no-repeat;
}

.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.header .inner h1 {
    line-height: 1;
}

.header .inner h1 img {
    width: 140px;
}

.header .inner .gnb ul {
    display: flex;
    gap: 40px;
    font-size: 20px;
    font-weight: 800;
}

.header .inner .gnb ul li {
    padding: 30px 20px;
    background: none;
    white-space: nowrap;
}

.header .inner .gnb ul li.on {
    background: url(../img/nav-on.png) no-repeat left 50% center /cover;
    background-size: 80% auto;
    color: #fff;
    width: 100%;
    height: 100%;

}

.header .inner figure {
    display: inline;
    font-size: 14px;
    gap: 5px;
    font-weight: 300;
}

.header .inner figure img {
    width: 20px;
}

.header .inner figure p {
    display: inline;

}

/* 
.header .inner .responsive {
    display: none;
} */

/* .mainVisual { */

.mainVisual {
    top: 0;
    background: url(../img/main-visual.jpg);
}

.mainVisual .inner {
    text-align: center;
    padding: 60px 0 0 0;

}

.mainVisual .inner h2 {
    display: block;
    margin: 0 0 30px 0;
}

.mainVisual .inner h2 strong {
    display: block;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -2px;
    color: #342323;
    transform: translate(92px, 40px);
}

.mainVisual .inner>p {
    display: block;
    font-size: 22px;
    line-height: 1.4;
    font-weight: 300;
    color: #342323;
    margin: 0 0 20px 0;
}

.mainVisual .inner em {
    font-size: 20px;
    font-weight: 800;
    color: #3d1b1b;
    line-height: 54px;
    border-radius: 27px;
    padding: 20px 30px;
    background: rgba(139, 38, 38, 0.16);
}

.mainVisual .inner .event {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 60px;

    width: 1200px;
    margin: 60px 0 40px 46px;
    padding: 60px 0 60px 100px;
    transform: translate(-47px, 0);

    text-align: left;

    border-radius: 15px;
    background: url(../img/visual-event.jpg)repeat;
    box-shadow: 11px 16px 6px rgb(222 181 158 / 29%);
}

.mainVisual .inner .event::before {
    content: '';
    position: absolute;
    top: -17px;
    left: -103px;
    width: 100%;
    height: 100%;
    background: url(../img/main-pin.png)no-repeat;

}


.mainVisual .inner .event::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 80%;

    background: #ddd;
}

.mainVisual .inner .event>div {
    display: flex;
    gap: 30px;
    flex: 1;
}

.mainVisual .inner .event .event01::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: url(../img/visual-event1.png) no-repeat center center / cover;

    background-size: 95px 92px;
    z-index: 9999;
}

.mainVisual .inner .event .event02::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: url(../img/visual-event2.png) no-repeat center center / cover;
    background-size: 95px 92px;
    z-index: 9999;
}


.mainVisual .inner .event strong {
    display: block;
    margin-bottom: 2px;
    font-size: 15px;
    color: #db161e;
    text-transform: uppercase;

}

.mainVisual .inner .event h3 {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 1.7;
    color: #342323;
}

.mainVisual .inner .event p {
    font-weight: 200;
    letter-spacing: -1px;
    line-height: 1.4;
    color: #342323;
    font-weight: 200;
}

.mainVisual figure img {
    width: 350px;
}

/* } .mainVisual  */


/* .mainContent { */

.mainContent {
    background: url(../img/main-flower.png)no-repeat left 162px top 430px, url(../img/main-flower2.png)no-repeat right 98px top 445px, url(../img/main-envelope.png)no-repeat top 385px right 190px #9b604b;
    text-align: center;
    align-items: center;
}

.mainContent .inner>em:first-child {
    position: relative;
    display: inline-block;
    padding: 25px 48px 22px;

    color: #b96560;
    background: #ffedd1;
    border-radius: 55%;
    font-weight: 800;
    z-index: 999;

    margin: 0 auto 30px auto;
}

.mainContent .inner>em:first-child::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 88%;
    height: 70%;
    border-radius: 55%;

    border: 2.5px solid #b9646089;
}

.mainContent h2 {
    color: #e1d0c9;
}

.mainContent h2 em {
    display: inline-block;
    color: #fff;
}

.mainContent .letter {
    background: url(../img/main-letter.jpg) no-repeat center center /cover;
    width: 900px;
    padding: 60px 0 45px;
    text-align: center;
    white-space: wrap;
    margin: 64px auto 82px;
    box-shadow: 22px 6px 43px rgb(82 0 0 / 17%);
}

.mainContent .letter h3 {
    position: relative;
    font-size: 45px;
    font-weight: 400;
    color: #db161e;
    padding-bottom: 10px;
    margin: 0 0 40px 0;
    font-family: 'InkLipquid';

}

.mainContent .letter h3::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    width: 60%;
    height: 3px;
    background: url(../img/letter-line.png)no-repeat center center /cover;
}

.mainContent .letter p {
    margin-bottom: 18px;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 1.9;
    color: #342323;
    word-break: keep-all;
}

.mainContent .letter p em {
    font-weight: 800;
}

.mainContent .inner>p {
    position: relative;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -2px;
    font-family: 'InkLipquid';
    color: #fff;
}

.mainContent .inner>p::before {
    position: absolute;
    content: '';
    background: url(../img/intro-line1.png);
    width: 240px;
    height: 98px;

    left: 50%;
    top: -16px;
    transform: translate(-50%, 0);

}

/* } .mainContent */

/* .mainInvolve { */

.mainInvolve .inner h2 {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -4px;
    line-height: 1.2;
    color: #c3b2b5;
    text-align: center;
}

.mainInvolve .inner h2 strong {
    color: #342323;
}

.mainInvolve .inner p {
    margin-top: 30px;
    font-size: 19px;
    line-height: 1.79;
    letter-spacing: -1px;
    color: #342323;
}

.mainInvolve .inner span {
    display: block;
    font-size: 15px;
    letter-spacing: -0.5px;
    opacity: 0.6;
    margin-bottom: 60px;
}

.mainInvolve .inner .md_hover {
    display: none;
}

.mainInvolve .inner .product {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mainInvolve .product .cont>div>p {
    position: absolute;
    bottom: 20px;
    left: 30px;
    width: 100%;
    font-size: 22px;
    letter-spacing: -1px;
    color: #fff;
    text-align: left;
    text-shadow: 0 0 5px #333;
}

.mainInvolve .product .cont>div {
    position: relative;
    height: 350px;
    border-radius: 15px;
}

.mainInvolve .product .cont .md01 {
    background: url(../img/reward-item1.jpg) no-repeat center center/cover;
}

.mainInvolve .product .cont .md02 {
    background: url(../img/reward-item2.jpg) no-repeat center center/cover;
}

.mainInvolve .product .cont .md03 {
    background: url(../img/reward-item3.jpg) no-repeat center center/cover;
}

.mainInvolve .product .cont .md04 {
    background: url(../img/reward-item4.jpg) no-repeat center center/cover;
}

.mainInvolve .product .cont .md05 {
    background: url(../img/reward-item5.jpg) no-repeat center center/cover;
}

.mainInvolve .product .cont .md06 {
    background: url(../img/reward-item6.jpg) no-repeat center center/cover;
}

.mainInvolve .product .cont .md07 {
    background: url(../img/reward-item7.jpg) no-repeat center center/cover;
}

.mainInvolve .product .cont .md08 {
    background: url(../img/reward-item8.jpg) no-repeat center center/cover;
}




/* } .mainInvolve */


/* .VideoBanner { */

.VideoBanner {
    text-align: center;
}

.VideoBanner .video_wrap {
    position: relative;
    font-weight: 800;
    overflow: hidden;
}

.VideoBanner .video_wrap::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.24;
}

.VideoBanner .video_wrap h2 {
    width: 1200px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c2c2c2;
}

.VideoBanner .video_wrap h2 strong {
    color: #fff;
}

.VideoBanner video {
    width: 100vw;

}

/* } .VideoBanner */


/* .event1 { */

.event1 {
    background: url(../img/main-event1.jpg) no-repeat center center /cover;
}

.event1::before {
    background: url(../img/);
}

.event1 h2 {
    color: #342323;
}

.event1 h2 em {
    display: inline;
    color: #ae816d;
}

.event1 h2 strong {
    font-size: 65px;
}

.event1 p {
    font-size: 19px;
    line-height: 1.79;
    letter-spacing: -1px;
    color: #342323;
    margin: 30px 0 30px 0;
}

.event1 p strong {
    font-weight: 800;
}


.event1 .f_inner .case {
    display: flex;
    align-items: center;
}

.event1 .f_inner .case li:last-child {
    margin: 0 0 0 -60px;
}

.event1 .f_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event1 .f_inner span {
    width: 33px;
    height: 20px;
    margin: 0 0 0 40px;
}

.event1 .f_inner div {}

/* } .event1 */



/* .event2 { */

.event2 {
    background: url(../img/main-deco.png) no-repeat center top 484px;
}

.event2 .inner h2 strong {
    color: #342323;
    margin-bottom: 15px;
}

.event2 .inner>p {
    font-size: 19px;
    font-weight: 300;
    line-height: 1.79;
    letter-spacing: -1px;
    color: #342323;
    margin-bottom: 60px;
}

.event2 .inner .md_case {
    display: flex;
    gap: 30px;

    margin: 0 0 60px 0;

}

.event2 .inner .md_case .txt {
    position: relative;
}

.event2 .md_case .md h3 {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.4;

    letter-spacing: -1px;

}

.event2 .md_case .md p {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%, 0);
}

.event2 .md_case div {

    width: 370px;
    height: 420px;
    border-radius: 15px;
}

.event2 .md_case .md01 {
    background: url(../img/gift-item1.jpg) no-repeat center center /cover;
}

.event2 .md_case .md02 {
    background: url(../img/gift-item2.jpg) no-repeat center center /cover;
}

.event2 .md_case .md03 {
    background: url(../img/gift-item3.jpg) no-repeat center center /cover;
}

.event2 .btn {
    display: inline-block;
    min-width: 228px;
    line-height: 75px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: -.5px;
    color: #fff;
    border-radius: 37px;
    background: #db161e;
    margin-bottom: 60px;

    transition: 0.5s;
}

.event2 .btn i {
    visibility: hidden;
    width: 0;
    transition: 0.5s;
}

.event2 .btn:hover p {
    transform: translate(-20px, 0);
}

.event2 .btn:hover i {
    visibility: visible;
    transform: translate(30px, 0);
}


.event2 .review {
    border-top: 2px solid #111;
    margin: 0 0 55px 0;

    background: url(../img/main-deco.png) no-repeat center center;
}

.event2 .review_list {
    padding: 30px 14px 30px 0;
    border-bottom: 1px solid #dcdcdc;
    /* display: flex;
    justify-content: space-between; */
}

.event2 .review_list .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: calc(100% - 200px);
    padding: 0 45px 0 0;
}

.event2 .review_list .left h3 {
    margin-bottom: 12px;
    font-size: 20px;
    color: #000;
}

.event2 .review_list .left p {
    color: #666;
    letter-spacing: -1px;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event2 .review_list .left span {
    display: block;
    margin-top: 22px;
    font-size: 14px;
    color: #888;
}

.event2 .review_list .right {
    font-size: 0;
    width: 189px;
    border-radius: 5px;
    overflow: hidden;
    background: #888;
}

.event2 .review_list .list_itm {
    display: flex;
    justify-content: space-between;
}

.event2 .review_list .right {
    height: 150px;
}


.event2 .review_list:nth-child(1) .right {
    background: url(../img/main_review.png) no-repeat center center /cover;
}

.event2 .review_list:nth-child(2) .right {
    background: url(../img/78A0D9D9-6479-4B12-BB3B-8988DA5C5C6D-189x126.jpeg) no-repeat center center /cover;
}

.event2 .review_list:nth-child(3) .right {
    background: url(../img/main_review.png) no-repeat center center /cover;
}



.event2 .dots li {
    display: inline-block;
    border-radius: 100%;
    vertical-align: top;
    line-height: 41px;
    text-align: center;
    margin: 0 25px;
    color: #111;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;

}

.event2 .dots li.on {
    display: inline-block;
    width: 41px;
    height: 41px;
    border-radius: 100%;
    vertical-align: top;
    line-height: 41px;
    text-align: center;
    margin: 0 10px;
    font-size: 17px;
    background: #db161e;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}

.event2 .dots::before {
    content: '\e93d';
    display: inline-block;
    line-height: 41px;
    font-size: 22px;
    font-family: xeicon;
    cursor: pointer;
}

.event2 .dots::after {
    content: '\e93e';
    display: inline-block;
    line-height: 41px;
    font-size: 22px;
    font-family: xeicon;
    cursor: pointer;
}


/* } .event2 */




/* .FAQ { */

.FAQ {
    background: url(../img/main-bg.jpg) no-repeat center center/cover;
}

.FAQ .inner>h2 {
    color: #ae816d;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -4px;
    line-height: 1.2;
}

.FAQ .inner>h2 strong {
    color: #342323;
}

.FAQ .inner>p {
    margin: 30px 0 60px 0;
    font-size: 19px;
    line-height: 1.79;
    letter-spacing: -1px;
    color: #342323;
    opacity: 0.71;
}

.FAQ .inner>p strong {
    font-weight: 800;
}

.FAQ .inner .q a {
    display: block;
    display: flex;
    justify-content: center;
}

.FAQ .inner .q li {
    padding: 35px 54px 35px 52px;
    margin-bottom: 24px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;

}

.FAQ .q .left {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.FAQ .q .left::before {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    width: 32px;
    height: 30px;
    background: url(../img/q-ic.png) no-repeat center center /cover;
}

.FAQ .q .left h3 {
    font-size: 22px;
    font-weight: 800;
    color: #111;
    letter-spacing: -1px;
    line-height: 1.3;
    text-align: left;
    padding: 0 0 0 50px;
}

.FAQ .q p {
    text-align: left;
    font-size: 17px;
    letter-spacing: -1px;
    color: #666;
    line-height: 1.765;
    padding: 0 0 0 50px;


    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}


.FAQ .q p.on {
    visibility: visible;
    height: 60px;
    font-size: 17px;
    margin-top: 30px;
}


.FAQ .q .left i {
    position: absolute;
    top: 0;
    right: 0;

    width: 22px;
    height: 22px;
}

.FAQ .q .left i::before,
.FAQ .q .left i::after {
    content: '';
    position: absolute;
    background: #111;
    border-radius: 2px;
}

.FAQ .q .left i::before {
    top: 0;
    left: 50%;

    width: 3px;
    height: 100%;

    transform: translateX(-50%) rotate(0deg);
    transition: 0.3s ease;
}


.FAQ .q .left i::after {
    top: 50%;
    left: 0;

    width: 100%;
    height: 3px;

    transform: translateY(-50%);

}























/* } .FAQ */


/* .gallery { */

.gallery .inner>h2 {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -4px;
    line-height: 1.2;
    color: #c3b2b5;
    margin: 0 0 60px 0;
}

.gallery .inner>h2 strong {
    color: #342323;
}

.gallery .slide_inner {
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow: hidden;

}

.gallery .slide_inner .slide {
    width: 100%;
    transform: translate(0, 0);
}

.gallery .slide_inner .txt {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    text-align: left;
    /* align-content: flex-start; */
}

.gallery .slide_inner .txt h3 {
    font-size: 28px;
    font-weight: 800;
}

.gallery .slide_inner .txt p {
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 1.765;
    word-break: keep-all;
}

.gallery .slide_inner .txt p em {
    display: block;
    margin-top: 15px;
}


.gallery .slide .slick-list {
    overflow: visible;
}

.gallery .slide img {
    box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.2);
    margin: 0 0 40px 0;
}

.gallery .slide_num {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    vertical-align: middle;
    margin: 0 0 20px 0;
}

.gallery .bar {
    position: relative;
    width: 1000px;
    height: 3px;
    background: #ddd;
    transform: translate(0, 5px);
    border-radius: 2px;
}

.gallery .bar span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: tomato;
    transition: width .5s;

}

.gallery .arrows i {
    font-size: 30px;
    line-height: 1;
    transform: translate(0, -7px);
    cursor: pointer;
}

.gallery .arrows i:first-child {
    margin: 0 15px 0 0;
}


/* } .gallery */


/* .f_banner { */

.f_banner {
    text-align: center;
}

.f_banner .video_wrap {
    position: relative;
    font-weight: 800;
    overflow: hidden;

}

.f_banner .video_wrap::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.24;
}

.f_banner .video_wrap h2 {
    width: 1200px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c2c2c2;
}

.f_banner .video_wrap h2 strong {
    color: #fff;
}

.f_banner video {
    width: 100vw;

}

/* } .f_banner */

/* .rightBanner { */


.rightBanner {
    width: 110px;

    border-radius: 30px 0 0 30px;
    background: #db161e;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    /*     -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); */
    z-index: 9999;


    line-height: 1.3;
    padding: 10px 15px;
}

.rightBanner ul {
    padding: 20px 0;
}

.rightBanner ul li {
    text-align: center;
    color: #fff;
}

.rightBanner ul>li img {
    display: block;
    margin: 0 auto 15px auto;
    height: 23px;
}

.rightBanner ul:first-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.53);
    margin: 5px 0 5px 0;
}

/* } .rightBanner */

/* .footer { */

.footer {
    padding: 74px 0;
    background: #e0e2e2;

    font-style: normal;
    text-decoration: none;
    color: #5a5a5a;
    letter-spacing: -.5px;
}

.footer .inner {
    display: flex;
    justify-content: space-between;

}

.footer .left img {
    vertical-align: middle;
    width: 257px;
    height: 37px;
    margin-bottom: 36px;
}

.footer .left ul {
    display: flex;
}



.footer .left ul li~li::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 13px;
    margin: 0 7px 0 7px;
    vertical-align: middle;
    background: #a6a8a8;
}

.footer .left p {
    margin: 10px 0 10px;
}

.footer .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .right ul {
    display: flex;
    justify-content: space-between;
}

.footer .right ul li:first-child {
    font-weight: 800;
    color: #111;
}

.footer .right p {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

}



/* } .footer */